* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f4f4f4;
  color: #f7f4f4;
  line-height: 1.6;
}

header {
  background: #502c32;
  color: white;
  padding: 2rem 0;
  position: none;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

nav h1 {
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

nav a.active, nav a:hover {
  color: #050303;
}

main {
  margin-top: 80px;
  padding: 2rem 5%;
  min-height: 80vh;
}

section {
  background: rgb(121, 119, 119);
  padding: 3rem;
  margin: 2rem 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #502c32;;
  margin-bottom: 2rem;
  font-size: 2.2rem;
}

.accueil {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #502c32;;
}

.btn {
  display: inline-block;
  background: #7c4d55;;
  color: rgb(255, 255, 255);
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 1rem;
}

.competences li {
  background: #504a4a;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  font-weight: bold;
}

.projet {
  background: #504a4a;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 10px;
  transition: 0.3s;
}

.projet:hover {
  background: #502c32;
  color: white;
  transform: scale(1.02);
}

form {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

form input, form textarea {
  width: 100%;
  padding: 13px;
  border: 2px solid #2b2a2a;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

form button {
  background: #2c3e50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.1rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background: #502c32;;
  color: white;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }
  .accueil {
    flex-direction: column;
    text-align: center;
  }
}